<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Jobs </mat-panel-title>
        <mat-panel-description> This is a of summary my jobs </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Computer Engineer.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Samsung Electronics </mat-panel-title>
        <mat-panel-description>
         Software Developer (2019-2024 October)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Demo Apps, created controllers and objects to get data from database, software developer, spring boot, Postgres.</p>
      <p>Demo Apps, created pages to display tv shows, movies and reality show data from Samsung tv’s databases, software developer, reactjs, CSS, Material UI.</p>
      <p>Chatbot UI, crated grids to adjust buttons, menus on a layout, software developer, AngularJS, CSS, Bootstrap.</p>
      <p>Demo Apps, created page to display statistics of objects, actions and sentiments from tv programs detected by ML engine, software developer, reactjs, css, json.</p>
      <p>Installation of Chatbot UI apps in Samsung TV using Tizen Studio Framework.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Global Hitss </mat-panel-title>
          <mat-panel-description>
            Web Developer (2016-2019)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Coding business objects (JAVA)</p>
        <p>Creating and styling pages (HTML5, JSP, BOOTSTRAP)</p>
        <p>Developing behavior of pages (JAVA SCRIPT, DOJO)</p>
        <p>Managing objects from the session of the web browser (JAVA WEB), showing data on dynamic tables (JQUERY), database connections (MYSQL)</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> America Survey Company </mat-panel-title>
          <mat-panel-description>
            QATI programmer (2012- 2013)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Programing surveys logic in QUANCEPT language</p>
        <p>Creating surveys data using PERL scripts to deliver them to clients, using a UNIX environment</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Lock jack </mat-panel-title>
          <mat-panel-description>
            GPS programmer (2011-2012)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Configuration of pc network’s routers, printer installation, programing different types of GPS devices.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Hildebrando </mat-panel-title>
          <mat-panel-description>
            Web developer (2008-2010)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>E-commerce about “Venta servicios de internet, telefonia y tv por cable TELMEX Chile”, created a page to remove a client front end and back end, web developer, html, js, css, jsp and java, Struts Framework</p>
        <p>E-commerce about “Venta servicios de internet, telefonia y tv por cable TELMEX Chile”, created code to convert calendar numbers into human readable format, web developer, Struts Framework, js, css</p>
        <p>E-commerce about “Venta servicios de internet, telefonia y tv por cable TELMEX Chile”, created internationalization feature, web developer, Java, Js, html, JSP, xml</p>
    </mat-expansion-panel>
  </mat-accordion>
  