<mat-tab-group>
    <mat-tab label="Flavors"> <h3>Flavors</h3> 
        <mat-list role="list">
            <mat-list-item role="listitem">Classic Vanilla</mat-list-item>
            <mat-list-item role="listitem">Carrot</mat-list-item>
            <mat-list-item role="listitem">Red velvet</mat-list-item>
            <mat-list-item role="listitem">Chocolate</mat-list-item>
            <mat-list-item role="listitem">Lemon</mat-list-item>

          </mat-list>    
    
    </mat-tab>
    <mat-tab label="Occasions"> <h3>Occasions</h3> 
        <mat-list role="list">
            <mat-list-item role="listitem">Birthdays</mat-list-item>
            <mat-list-item role="listitem">Holidays</mat-list-item>
            <mat-list-item role="listitem">Sports</mat-list-item>
          </mat-list>  
    </mat-tab>
  </mat-tab-group>
