<mat-tab-group>
    <mat-tab label="Flavors"> <h3>Holidays</h3> 
        <mat-list role="list">
            <mat-list-item role="listitem">Christmas / halloween</mat-list-item>
            

            <div class="slideshow-container">
                <carousel [isAnimated]="true"   [interval]="3000" >
  
                  <slide *ngFor="let cake of cakesholi" style="width: 100%; flex-direction: column;">
                      <!-- <img mat-card-image [src]= "cake.image"  alt="first slide" style="display: block; width: 100%;"> -->
          
                      <mat-card class="example-card" style="background-color: lightblue; color: #007bff;" >
                          <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{cake.name}}</mat-card-title>
                              <mat-card-subtitle style="color: #007bff;">{{cake.breadflavor}}</mat-card-subtitle>
                          </mat-card-header>
                          <div style="text-align: center;">
                              <img mat-card-image [src]="cake.url" alt="Photo of a Shiba Inu" width="100%" >
                          </div>
                          <mat-card-content>
                              <p>{{cake.name}}</p>
                              <p>
                                  {{cake.breadflavor}}
                              </p>
                          </mat-card-content>
                          <mat-card-actions>
    
                              <p style="margin-left: 10px;"> </p>
                          </mat-card-actions>
                      </mat-card>
   
                  </slide>
   
              </carousel>
              </div>




          </mat-list>    
    
    </mat-tab>
    <mat-tab label="Occasions"> <h3>Occasions</h3> 
        <mat-list role="list">
            <mat-list-item role="listitem">Birthdays</mat-list-item>
              <div class="slideshow-container">
              <carousel [isAnimated]="true"   [interval]="3000" >

                <slide *ngFor="let cake of cakes" style="width: 100%; flex-direction: column;">
                    <!-- <img mat-card-image [src]= "cake.image"  alt="first slide" style="display: block; width: 100%;"> -->
        
                    <mat-card class="example-card" style="background-color: lightblue; color: #007bff;" >
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{cake.name}}</mat-card-title>
                            <mat-card-subtitle style="color: #007bff;">{{cake.breadflavor}}</mat-card-subtitle>
                        </mat-card-header>
                        <div style="text-align: center;">
                            <img mat-card-image [src]="cake.url" alt="Photo of a Shiba Inu" width="100%" >
                        </div>
                        <mat-card-content>
                            <p>{{cake.name}}</p>
                            <p>
                                {{cake.breadflavor}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
  
                            <p style="margin-left: 10px;"> </p>
                        </mat-card-actions>
                    </mat-card>
 
                </slide>
 
            </carousel>
            </div>
       
          </mat-list>  
    </mat-tab>
  </mat-tab-group>
