<mat-tab-group fitInkBarToContent>
    <mat-tab label="Birthday" style="text-align: center;"> <h2>{{'classicLabel.birthday' | translate}}   </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel></app-img-carrousel>
      </div>
    </mat-tab>
    <mat-tab label="Halloween"> <h2>{{'classicLabel.halloween' | translate}}  </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-halloween></app-img-carrousel-halloween>
      </div>
    </mat-tab>
    <mat-tab label="Christmas"><h2>{{'classicLabel.christmas' | translate}} </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-christmas></app-img-carrousel-christmas>
      </div>
    </mat-tab>
    <mat-tab label="Weddings" ><h2>{{'classicLabel.wedding' | translate}} </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-weddings></app-img-carrousel-weddings>
      </div>
    </mat-tab>
  </mat-tab-group>
  
