<mat-tab-group fitInkBarToContent>
    <mat-tab label="Birthday" style="text-align: center;"> <h2>{{'classicLabel.birthday' | translate}}   </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel></app-img-carrousel>
      </div>
      
  <!--   <table id="student">
      <tr>
        <th> </th>
      </tr>
      <tr *ngFor="let cake of cakesData">
        <td>  
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{cake.name}}</mat-card-title>
              <mat-card-subtitle>{{cake.flavor}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]= "cake.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>{{cake.size}}</p>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </td>
      </tr>
    </table>
    -->
    </mat-tab>
    <mat-tab label="Halloween"> <h2>{{'classicLabel.halloween' | translate}}  </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-halloween></app-img-carrousel-halloween>
      </div>
    </mat-tab>
    <mat-tab label="Christmas"><h2>{{'classicLabel.christmas' | translate}} </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-christmas></app-img-carrousel-christmas>
      </div>
    </mat-tab>
    <mat-tab label="Weddings" ><h2>{{'classicLabel.wedding' | translate}} </h2>
      <div style="width: 100%; margin-bottom: 10px; text-align: center; ">
        <app-img-carrousel-weddings></app-img-carrousel-weddings>
      </div>
    </mat-tab>
  </mat-tab-group>
  
