 
<div style="width: 200px;">
<form class="form-group">
    <label>{{'selectLabels.language' | translate}}:</label>
    <select class="form-control" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
        <option *ngFor="let lang of TransLang" value="{{lang}}">{{ lang }}</option>
    </select>
</form>
</div>
<!--
<form class="form-group">
    <label>{{'LoginFormLabels.username' | translate}}:</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
    <label>{{'LoginFormLabels.password' | translate}}:</label>
    <input type="text" class="form-control" [(ngModel)]="password" name="password">
    <button class="btn btn-primary" type="submit">{{'LoginFormLabels.submit' | translate}}</button>
</form>
-->