
<mat-tab-group>
    <mat-tab label="Backend">
        <mat-card appearance="outlined">
            <mat-card-content>
            <p>Java 8</p>
            <p>Python 3</p>
            <p>Php</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Frontend">
        <mat-card appearance="outlined">
            <mat-card-content>
         <p>HTML 5</p> 
         <p>CSS</p>
         <p>JSP</p>
         <p>Java Script</p>
        </mat-card-content>
    </mat-card>
    </mat-tab>
    <mat-tab label="Data Base"> 
        <mat-card appearance="outlined">
            <mat-card-content>
                <p>Postgres</p> 
                <p>MySQL</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Frameworks"> 
        <mat-card appearance="outlined">
            <mat-card-content>
        <p>ReactJS</p>
        <p>AngularJS</p>
        <p>Bootstrap</p>
        <p>Angular Material UI</p>
        <p>Spring Boot</p>
        <p>Samsung Tizen Framework for TVs</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="AWS"> 
        <mat-card appearance="outlined">
            <mat-card-content>
        <p>EC2 instances</p>
        <p>AWS S3 Buckets</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Electronics and circuits"> 
        <mat-card appearance="outlined">
            <mat-card-content>
        <p>Knowledge of creation of analog circuits with components like resistors and capacitors on protoboard and measure the signals on oscilloscope and multimeter.</p>
        <p>Knowledge of coding some memories chips like GAL (Generic Array Logic) using VHDL language and basic logic gates</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
  </mat-tab-group>
  
