.example-container {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
 /*   align-items: center; */
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  .main{
    margin-left: 5px;
    margin-right: 5px;
  }


  .parent {
   /* border: 1px solid black; */
 
    text-align: center;
  }
  .child {
    display: inline-block;
    /*border: 1px solid red; */
    
    margin-left: 5px;
   /* vertical-align: middle; */
  }
  
  
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    color: white;
 /*   padding: 14px 28px; */
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
  }
  
 