


<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" opened>
        
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  (click)="showhideUtility()">{{buttonTitle}}</button>
          <button mat-menu-item (click)="showHideVehicles()">{{buttonTitleVehi}}</button>
        </mat-menu>
            
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">Toggle Menu</button>

        <app-newvehicle *ngIf="visible" ></app-newvehicle>
        <app-covervehicle *ngIf="cover"></app-covervehicle>
        <app-vehiclelist *ngIf="list"></app-vehiclelist>
    </mat-drawer-content>
</mat-drawer-container>
  





