
<mat-toolbar class="toolmain">
    
    <span class="titlestyle"> Cakes App </span> 
    <div >
        <button class="button button4"  >Login</button>
        <button class="button button4" >Profile</button>
        <button class="button button4" >Cart</button>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
            <a  >Link 1</a>
            <a >Link 2</a>
            <a  >Link 3</a>
            </div>
          </div>
    </div>


</mat-toolbar>

