
<button mat-button [matMenuTriggerFor]="aboveMenu">{{'MenuLabel.cakes' | translate}}</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="classic">{{'MenuLabel.classic' | translate}}</button>
  <button mat-menu-item routerLink="create">{{'MenuLabel.createcake' | translate}}</button>
 
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Menu</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="comment">{{'MenuLabel.leavecomment' | translate}}</button>
  <button mat-menu-item routerLink="mostwanted"> {{'MenuLabel.mostwanted' | translate}}</button>
  <button mat-menu-item routerLink=""> {{'MenuLabel.home' | translate}}</button>
  <button mat-menu-item routerLink="changelan">{{'MenuLabel.changelan' | translate}}</button>
</mat-menu>

