@switch (stepperOrientation | async) {
    @case ('horizontal') {
      <div> </div>
    }
    @case ('vertical') {
      <div> </div>
    }
  }

  <p style="text-align: right;">
    <span class="fontclass">{{'classicLabel.create' | translate}} </span>
   <!-- <button type="button" mat-raised-button color="warn" (click)="closeStepsEventFunc(false)"><span>X</span></button> -->
</p>

  
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="{{'classicLabel.fillingredients' | translate}}">

      <form [formGroup]="firstFormGroup">
        <div style="text-align: left;">


        <mat-form-field style="margin: 5px;">
          <mat-label>{{'classicLabel.ingredients' | translate}}</mat-label>
          <mat-select [formControl]="ingredients" multiple required [(ngModel)]="currentIngredientValues">
            <mat-select-trigger>
              {{ingredients.value?.[0] || ''}}
              @if ((ingredients.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                  (+{{(ingredients.value?.length || 0) - 1}} {{ingredients.value?.length === 2 ? 'other' : 'others'}})
                </span>
              }
            </mat-select-trigger>
            @for (ingredient of ingredientsList; track ingredient) {
          <mat-option [value]="ingredient">{{ingredient}}</mat-option>
        }
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin: 5px;">
          <mat-label>{{'classicLabel.typeofcake' | translate}}</mat-label>
          <mat-select [(value)]="typeOfCake">
            <mat-option>None</mat-option>
            <mat-option value="{{'classicLabel.classics' | translate}}">{{'classicLabel.classics' | translate}} </mat-option>
            <mat-option value="{{'classicLabel.fondant' | translate}}">{{'classicLabel.fondant' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.mixed' | translate}}">{{'classicLabel.mixed' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.3milks' | translate}}">{{'classicLabel.3milks' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        

        <mat-form-field style="margin: 5px;" >
          <mat-label>{{'classicLabel.cakesize' | translate}}</mat-label>
          <mat-select [formControl]="size" required   [(value)]="cakeSize">
            <mat-option value="{{'classicLabel.small' | translate}}">{{'classicLabel.small' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.double' | translate}}" disabled>{{'classicLabel.double' | translate}} (disabled)</mat-option>
            <mat-option value="{{'classicLabel.medium' | translate}}">{{'classicLabel.medium' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.large' | translate}}">{{'classicLabel.large' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field style="margin: 5px;" > 
          <mat-label>{{'classicLabel.cakeevent' | translate}}</mat-label>
          <mat-select  [formControl]="eventc" required [(value)]="cakeEvent">
            <mat-option value="{{'classicLabel.birthday' | translate}}">{{'classicLabel.birthday' | translate}}  </mat-option>
            <mat-option value="{{'classicLabel.double' | translate}}" disabled>{{'classicLabel.double' | translate}} (disabled)</mat-option>
            <mat-option value="{{'classicLabel.halloween' | translate}}">{{'classicLabel.halloween' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.christmas' | translate}}">{{'classicLabel.christmas' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.weeding' | translate}}">{{'classicLabel.weeding' | translate}}</mat-option>

          </mat-select>


        </mat-form-field>

        <mat-form-field style="margin: 5px;" >
          <mat-label>{{'classicLabel.cakeshape' | translate}}</mat-label>
          <mat-select [formControl]="shape" required [(value)]="cakeShape">
            <mat-option value="{{'classicLabel.circular' | translate}}">{{'classicLabel.circular' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.double' | translate}}" disabled>{{'classicLabel.double' | translate}} (disabled)</mat-option>
            <mat-option value="{{'classicLabel.rectangular' | translate}}">{{'classicLabel.rectangular' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.doubleCircular' | translate}}">{{'classicLabel.doubleCircular' | translate}}</mat-option>
            <mat-option value="{{'classicLabel.doubleRectangular' | translate}}">{{'classicLabel.doubleRectangular' | translate}}</mat-option>

          </mat-select>


        </mat-form-field>

        <mat-form-field class="example-full-width" style="margin: 5px;">
          <mat-label> {{'classicLabel.design' | translate}}</mat-label>
          <input matInput placeholder="Ex. Wonderwoman" value="Spiderman" formControlName="firstCtrl" [(ngModel)]="desingOnCake">
        </mat-form-field>


        <mat-form-field class="example-full-width" style="margin: 5px;">
          <mat-label>{{'classicLabel.textontop' | translate}}</mat-label>
          <input matInput placeholder="Ex. happy birthday Lola" value="happy birthday lola"  formControlName="firstCtrl" [(ngModel)]="textOnCake">
        </mat-form-field>

      <!--  <p>You selected: {{typeOfCake}}</p> -->

      </div>
    
        <div>  </div>

        <div>
          <button mat-button matStepperNext> {{'classicLabel.next' | translate}}   </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="{{'classicLabel.filladdress' | translate}}"  >
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label> {{'classicLabel.address' | translate}}  </mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required [(ngModel)]="currentAddressValue">
        </mat-form-field>
        
        <app-date-picker  (newDateEvent)="getDateString($any($event))"  style="margin: 5px;"></app-date-picker>

        <mat-form-field class="example-full-width"  style="margin: 5px;">
          <mat-label> {{'classicLabel.leavecomment' | translate}} </mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."  formControlName="secondCtrl"  [(ngModel)]="notesArea" ></textarea>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious> {{'classicLabel.back' | translate}} </button>
          <button mat-button matStepperNext> {{'classicLabel.next' | translate}}   </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="{{'classicLabel.fillname' | translate}}">
      <form [formGroup]="thirdFormGroup">
       <!-- <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required [(ngModel)]="currentCellNumberValue">
        </mat-form-field>
      -->
        <mat-form-field style="margin: 5px;">
          <mat-label>{{'classicLabel.name' | translate}}</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="thirdCtrl" required  [(ngModel)]="currentNameValue" (keydow)="validateString($event)">
        </mat-form-field>
        <mat-form-field style="margin: 5px;">
          <mat-label>{{'classicLabel.email' | translate}}</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [(ngModel)]="currentEmailValue" >
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'classicLabel.cellphone' | translate}}   </mat-label>
          <span matPrefix>+52 &nbsp;</span>
          <input matInput type="tel"  placeholder="Ex. 664 1268391" formControlName="thirdCtrl" required [(ngModel)]="currentCellNumberValue">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious> {{'classicLabel.back' | translate}}</button>
          <button mat-button matStepperNext>{{'classicLabel.next' | translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel  >{{'classicLabel.done' | translate}} </ng-template>
      <p>  {{'classicLabel.youredone' | translate}}</p>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Confirmation</mat-card-title>
        <mat-card-subtitle>
          <p *ngIf="uniqueId">
            <label>orderId: </label>
            <span style="color: red; font-size: larger; font-weight: bold;"> {{uniqueId}} </span> 
          </p>
          <p *ngIf="error"> <span style="color: red; font-size: larger; font-weight: bold;" >{{error}}</span></p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

    
  
        <p *ngIf="currentNameValue"> 
          <label class="labelclass">  {{'classicLabel.name' | translate}}: </label>
          <span> {{currentNameValue}}</span>
        </p>
        
        <p *ngIf="currentEmailValue">  
          <label class="labelclass">{{'classicLabel.email' | translate}}: </label>
          <span> {{currentEmailValue}}</span>
        </p>
        
        <p *ngIf="currentIngredientValues"> 
          <label class="labelclass">{{'classicLabel.ingredients' | translate}}: </label>
          {{currentIngredientValues}}
        </p>

        <p *ngIf="typeOfCake">
          <label class="labelclass">{{'classicLabel.type' | translate}}: </label>
          {{typeOfCake}}
        </p>
    

        <p *ngIf="cakeSize"> 
          <label class="labelclass">{{'classicLabel.cakesize' | translate}}: </label>
          {{cakeSize}}
        </p>
    
        <p *ngIf="cakeShape"> 
          <label class="labelclass">{{'classicLabel.cakeshape' | translate}}: </label>
          {{cakeShape}}
        </p>

        <p *ngIf="cakeEvent"> 
          <label class="labelclass">{{'classicLabel.cakeevent' | translate}}: </label>
          {{cakeEvent}}
        </p>


        <p *ngIf="desingOnCake"> 
          <label class="labelclass">{{'classicLabel.design' | translate}}: </label>
          {{desingOnCake}}
        </p>

        <p *ngIf="textOnCake"> 
          <label class="labelclass">{{'classicLabel.textontop' | translate}}: </label>
          {{textOnCake}}
        </p>


        <p *ngIf="stringDate">
          <label class="labelclass">{{'classicLabel.deliverydate' | translate}}: </label>
          {{stringDate}}
        </p>

        <p *ngIf="notesArea"> 
          <label class="labelclass">{{'classicLabel.notes' | translate}} : </label>
          {{notesArea}}
        </p>
     
        <p *ngIf="currentAddressValue"> 
          <label class="labelclass">{{'classicLabel.address' | translate}}: </label>
          {{currentAddressValue}}
        </p>
        <p *ngIf="currentCellNumberValue"> 
          <label class="labelclass">{{'classicLabel.cellphone' | translate}}: </label>
          {{currentCellNumberValue}}
        </p>
    
      </mat-card-content>
      <mat-card-actions>  
        <button style="margin: 5px;" mat-raised-button color="primary" (click)="insertValues()">{{'classicLabel.confirm' | translate}}</button>
        <button mat-button matStepperPrevious>{{'classicLabel.back' | translate}}</button>
      </mat-card-actions>
    </mat-card>


   
     
     
   

        


    </mat-step>
  </mat-stepper>
 