.example-stepper {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .fontclass{
    font-size: large;
    font-weight: bold;
    color: blue;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-full-width {
  width: 100%;
}

.labelclass{
  font-weight: bold;
}