<mat-form-field>
    <mat-label>Choose delivery date</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date"  [(ngModel)]="cakeDate" (dateChange)="onChangeEvent( dateinput.value)" #dateinput>
    <mat-hint>MMMM DD, YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
</mat-form-field>

   
<mat-form-field style="margin: 5px;">
    <mat-label>Hour</mat-label>
    <mat-select [(value)]="deliveryHour" #SelectedHour (selectionChange)='onHourSelected(SelectedHour.value)'>
      <mat-option value="10:00 AM">10:00 AM</mat-option>
      <mat-option value="11:00 AM">11:00 AM</mat-option>
      <mat-option value="12:00 PM">12:00 PM</mat-option>
      <mat-option value="01:00 PM">01:00 PM</mat-option>
      <mat-option value="02:00 PM">02:00 PM</mat-option>
      <mat-option value="03:00 PM">03:00 PM</mat-option>
      <mat-option value="04:00 PM">04:00 PM</mat-option>
      <mat-option value="05:00 PM">05:00 PM</mat-option>
      <mat-option value="06:00 PM">06:00 PM</mat-option>
      <mat-option value="07:00 PM">07:00 PM</mat-option>
      <mat-option value="08:00 PM">08:00 PM</mat-option>

    </mat-select>
</mat-form-field>

 
<!--
<mat-form-field style="margin: 5px;" >
    <mat-label>Choose Hour</mat-label>
    <mat-select [disabled]="disableSelect.value"  [(value)]="cakeEvent">
      <mat-option value="birthday">Birthday</mat-option>
      <mat-option value="double" disabled>Double (disabled)</mat-option>
      <mat-option value="halloween">Halloween</mat-option>
      <mat-option value="christmas">Christmas</mat-option>
      <mat-option value="weeding">Weeding</mat-option>

    </mat-select>
  </mat-form-field>

<button mat-raised-button color="primary" (click)="sendDateItem(dateinput.value)">Accept</button>
 -->